.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 325px;
  z-index: 9999;
  font-family: 'NotoSans';
}
.paymentScreen {
  width: 1300px;
  height: 1600px;
  background: #fffbf2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'NotoSans';
  box-sizing: border-box;
}

.paymentTitle {
  font-size: 80px;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
}

.paymentSubtitle {
  font-size: 45px;
  color: #8b7355;
  margin-bottom: 30px;
  text-align: center;
}

.amountBox {
  background: #fff8ef;
  padding: 40px 0;
  margin: 40px auto;
  border-radius: 16px;
  text-align: center;
  width: 950px;
  height: 300px;
}

.amountLabel {
  display: block;
  font-size: 50px;
  color: #8b7355;
  margin-bottom: 10px;
}

.amountValue {
  font-size: 90px;
  font-weight: 600;
  color: #c17d5b;
}

.paymentImage {
  width: 500px;
  height: 500px;
  background-image: url('@assets/images/card.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 90px;
}

.paymentBar {
  width: 700px;
  height: 35px;
  background: #e6e6e6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px;
  margin-bottom: 100px;
  overflow: hidden;
}

.paymentBarFill {
  width: 0;
  height: 27px;
  background: #39b54a;
  border-radius: 5px;
  animation: fillBar 60s linear forwards;
}

.paymentCancel {
  width: 950px;
  height: 180px;
  background: #8b7355;
  color: white;
  font-size: 70px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
}

.timerBadge {
  position: absolute;
  top: 40px;
  right: 60px;
  background: #bb7d5b;
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding: 14px 34px;
  border-radius: 40px;
  font-family: 'NotoSans';
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
