@font-face {
  font-family: 'NotoSans';
  src: url('../../assets/font/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.itemRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  position: relative;
  font-family: 'NotoSans';
  font-size: 24px;
}

.itemRow::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50px;
  right: 50px;
  height: 1px;
  background: #e0e0e0;
}

.name {
  flex: 1;
  font-family: 'NotoSans';
  font-size: 30px;
  font-weight: 500;
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  height: 45px;
  border-radius: 4px;
  overflow: hidden;
}

.counter button {
  width: 45px;
  height: 45px;
  border: none;
  background: white;
  cursor: pointer;
  font-family: 'NotoSans';
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.counter span {
  width: 45px;
  height: 45px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'NotoSans';
  font-size: 25px;
  font-weight: 500;
}

.price {
  width: 120px;
  text-align: right;
  font-family: 'NotoSans';
  font-size: 25px;
  font-weight: 500;
  margin-right: 50px;
}

.remove {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-family: 'NotoSans';
  font-size: 30px;
  font-weight: 600;
}
