@font-face {
  font-family: 'NotoSans';
  src: url('../../assets/font/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  font-family: 'NotoSans';
}

.wrapper {
  width: 1820px;
  height: 620px;
  background: #f5ede1;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.itemsBoxContainer {
  width: 1150px;
  height: 520px;
  background: white;
  margin-right: 80px;
  position: relative;
  border-radius: 25px;
}

.itemsBox {
  width: 1140px;
  height: 520px;
  background: white;
  position: relative;
  border-radius: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.right {
  width: 420px;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.summaryTitle {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
}

.red {
  color: #ca4040;
}

.totalLabel {
  font-size: 45px;
  font-weight: 400;
  color: #666;
}

.totalPrice {
  font-size: 80px;
  font-weight: bold;
  color: #5d4e37;
}

.payButton {
  width: 420px;
  height: 160px;
  border-radius: 10px;
  background: #8b7355;
  color: white;
  font-size: 65px;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsBox::-webkit-scrollbar {
  width: 15px;
}

.itemsBox::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.itemsBox::-webkit-scrollbar-thumb {
  background-color: #c2b59b;
  border-radius: 10px;
  border: 2px solid #e8e0d2;
}

.itemsBox::-webkit-scrollbar-thumb:hover {
  background-color: #a8977a;
}

.emptyMessage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  color: #5d4e37;
  text-align: center;
}
