@font-face {
  font-family: 'NotoSans';
  src: url('../../assets/font/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.card {
  width: 440px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  padding: 30px 30px 0px;
  box-sizing: border-box;
  background: #f7efe1;
  border-radius: 20px;
  position: relative;
}

.thumbnail {
  width: 380px;
  height: 380px;
  box-sizing: border-box;
  padding: 28px 24px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  object-fit: contain;
  cursor: pointer;
}

.name {
  margin-top: 10px;
  font-size: 32px;
  line-height: 160%;
  color: #5d4e37;
  font-family: 'NotoSans';
  font-weight: 700;
}

.desc {
  margin-top: 5px;
  font-size: 24px;
  line-height: 32px;
  color: #aca193;
  font-family: 'NotoSans';
  font-weight: 500;
}

.price {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 40px;
  margin-top: 15px;
  line-height: 40px;
  color: #8b7355;
  font-family: 'NotoSans';
  font-weight: 600;
}
