.grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  row-gap: 40px;
  column-gap: 120px;
  justify-content: center;
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
}

.emptyMessage {
  grid-column: 1 / -1;
  text-align: center;
  padding: 700px 0;
  color: #b2bbc6;
  font-size: 100px;
}
