.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 325px;
  z-index: 9999;
  font-family: 'NotoSans';
}

.modalBox {
  width: 1300px;
  height: 1600px;
  background: #fffbf2;
  border-radius: 25px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  font-family: 'NotoSans';
}

.modalTitle {
  font-family: 'NotoSans';
  text-align: center;
  margin-bottom: 50px;
  font-size: 80px;
  font-weight: 700;
}

.modalItems {
  width: 1100px;
  height: 1200px;
  background: #ffffff;
  padding: 20px 25px;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-family: 'NotoSans';
  font-weight: 500;
}

.modalRow {
  display: flex;
  align-items: center;
  padding: 40px 25px;
  border-bottom: 2px solid #e0e0e0;
  font-size: 40px;
  font-family: 'NotoSans';
}

.modalRow span:first-child {
  flex: 1;
}

.modalRow span:nth-child(2) {
  width: 120px;
  text-align: center;
}

.modalRow span:last-child {
  width: 200px;
  text-align: right;
}

.modalSummary {
  width: 1100px;
  background: #ffffff;
  padding: 40px 0;
  margin: 0 auto 40px auto;
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  color: #000000;
  font-family: 'NotoSans';
}

.modalSummary span {
  color: #c00000;
  font-weight: 700;
}

.modalButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  margin-top: 40px;
  font-family: 'NotoSans';
}

.modalBack {
  width: 400px;
  height: 120px;
  border-radius: 15px;
  background: #555555;
  color: white;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-family: 'NotoSans';
}

.modalPay {
  width: 400px;
  height: 120px;
  border-radius: 15px;
  background: #1a7f31;
  color: white;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-family: 'NotoSans';
}

.modalItems::-webkit-scrollbar {
  width: 15px;
}

.modalItems::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.modalItems::-webkit-scrollbar-thumb {
  background-color: #c2b59b;
  border-radius: 10px;
  border: 2px solid #e8e0d2;
}

.modalItems::-webkit-scrollbar-thumb:hover {
  background-color: #a8977a;
}
