.container {
  width: 1300px;
  height: 1600px;
  background: #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 60px;
}

.backButton {
  position: absolute;
  top: -20px;
  left: 40px;
  font-size: 70px;
  font-weight: 700;
  color: #5d4e37;
  cursor: pointer;
  user-select: none;
}

.title {
  font-size: 70px;
  font-weight: 700;
  color: #5d4e37;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.subText {
  font-size: 43px;
  color: #8b7355;
  text-align: center;
  margin-bottom: 20px;
}

.errorGuide {
  font-size: 32px;
  color: #8f8f8f;
  text-align: center;
  margin-bottom: 20px;
}

.phoneInput {
  width: 940px;
  height: 140px;
  border-radius: 20px;
  border: 3px solid #ddd;
  font-size: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  background: #ffffff;
  margin-bottom: 25px;
}

.keypad {
  width: 940px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 25px;
}

.key {
  height: 140px;
  background: #faf5ef;
  border-radius: 20px;
  border: 1px solid #b8956a;
  font-size: 60px;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.key:active {
  background: #e3e3e3;
}

.delete {
  background: #f5ede1;
  font-size: 55px;
}

.delete:active {
  background: #f4c7c7;
}

.back {
  background: #f5ede1;
}

.back:active {
  background: #cfcfcf;
}

.confirmBtn {
  width: 950px;
  height: 180px;
  background: #8b7355;
  color: white;
  font-size: 70px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.confirmBtn:active {
  background: #7a593d;
}

.confirmBtn:disabled {
  background: #f5f5f5;
  color: #ccc;
  cursor: default;
}

.backIcon {
  width: 100px;
  height: 100px;
}
