.iconImage {
  width: 240px;
  height: 240px;
  object-fit: contain;
  display: block;
}

.title {
  font-size: 72px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
  color: #4b3d2a;
}

.noticeBox {
  width: 1100px;
  height: 700px;
  background: #fff8f0;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #e7d7c4;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.icon {
  width: 50px;
  height: 50px;
}

.section {
  margin-bottom: 30px;
}

.section:last-child {
  margin-bottom: 0;
}

.sectionTitle {
  font-size: 45px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.sectionDesc {
  font-size: 36px;
  color: #666;
  line-height: 1.5;
  margin-left: 80px;
}

.red {
  color: #d14a4a;
  font-weight: 700;
}

.confirmBox {
  width: 1100px;
  background: #faf5ef;
  border: 1px solid #e7d7c4;
  border-radius: 18px;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.confirmText {
  font-size: 36px;
  font-weight: 400;
  color: #4b3d2a;
}

/* 버튼 컨테이너 */
.buttons {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 25px auto 0 auto;
  text-align: center;
}

/* 버튼 공통 스타일 */
.buttonBase {
  width: 520px;
  height: 120px;
  font-size: 48px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 400;
}

/* 취소 버튼 */
.cancelBtn {
  background: #f5f5f5;
  color: #8f8f8f;
}

/* 확인 버튼 */
.confirmBtn {
  background: #8b7355;
  color: white;
}
