.container {
  font-family: 'NotoSans';
  padding: 24px 0;
  background: #fffbf2;
  min-height: 100vh;
}

.backButton {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #5d4e37;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 18px;
  color: #5e5e5e;
  margin-bottom: 24px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 28px;
  border: 1.4px solid#e5e5e5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.rowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  border-bottom: 1px solid #eee3d4;
  padding-bottom: 10px;
}

.orderInfo {
  display: flex;
  flex-direction: column;
}

.orderNumber {
  font-size: 16px;
  color: #5e4a2f;
  font-weight: 500;
}

.orderDate {
  margin-top: 4px;
  color: #a89f95;
  font-size: 14px;
}

.status {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.shipping {
  background: #f2e9da;
  color: #8c6d43;
}

.complete {
  background: #e1f4da;
  color: #4c7d37;
}

.itemRow {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 16px;
  color: #5e4a2f;
}

.price {
  color: #5e4a2f;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid #eee3d4;
  font-size: 18px;
  font-weight: 600;
  color: #5e4a2f;
}

.totalPrice {
  color: #c17d5b;
}

.trackingBox {
  background: #fbfbfb;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

.trackingLabel {
  color: #7c7163;
  font-size: 14px;
  margin-bottom: 4px;
}

.trackingNumber {
  font-size: 16px;
  color: #5e4a2f;
  font-weight: 600;
}
