.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #dcdcdc;
  background-color: #ffffff;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #1a4eff;
  cursor: pointer;
}

.profileIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
