@font-face {
  font-family: 'NotoSans';
  src: url('../../assets/font/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.nav {
  font-family: 'NotoSans';
  width: 200px;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.menuItem {
  font-family: 'NotoSans';
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 500;
  color: #111111;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
}

.active {
  font-family: 'NotoSans';
  font-weight: 700;
  color: #ffffff;
  background-color: #2563ff;
}
