.header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1.3px solid #e5e5e5;
  box-sizing: border-box;
}

/* 좌측 로고 영역 */
.leftSection {
  display: flex;
  margin: 35px 21px;
  align-items: center;
}

.logo {
  width: 257px;
  height: 54px;
  object-fit: contain;
}

.logoText {
  font-size: 37px;
  font-weight: 700;
  color: #0088ff;
}

/* 우측 로그인 영역 */
.rightSection {
  display: flex;
  align-items: center;
  gap: 4px;
}

.loginText {
  font-size: 26px;
  font-weight: 700;
  color: #222222;
}

.loginIcon {
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: 1px solid #e0e0e0;
}

.userName {
  font-size: 26px;
  font-weight: 600;
  color: #111111;
}
