.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 300px;
  z-index: 9999;
  font-family: 'NotoSans';
}

.modal {
  width: 1300px;
  height: 1600px;
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  font-family: 'NotoSans';
}

.closeBtn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  font-size: 48px;
  line-height: 48px;
  color: #333;
  cursor: pointer;
}

.scrollArea {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.scrollArea::-webkit-scrollbar {
  width: 15px;
}

.scrollArea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.scrollArea::-webkit-scrollbar-thumb {
  background-color: #c2b59b;
  border-radius: 10px;
  border: 2px solid #e8e0d2;
}

.scrollArea::-webkit-scrollbar-thumb:hover {
  background-color: #a8977a;
}
