.container {
  width: 100%;
  height: 70px;
  background: #d7b685;
  border-radius: 0 0 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.item {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff9e9;
  position: relative;
  cursor: pointer;
  font-weight: 500;
}

.active {
  font-weight: 700;
  color: #ffffff;
}

.divider {
  width: 1px;
  height: 32px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
