@font-face {
  font-family: 'NotoSans';
  src: url('../../assets/font/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

.storeSubHeader {
  width: 1820px;
  height: 120px;
  background: #e4b888;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
}

/* 각 탭 */
.tab {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-weight: 500;
  color: #fff9e9;
  position: relative;
  cursor: pointer;
}

/* 선택된 탭 강조 */
.active {
  font-weight: 700;
  color: #ffffff;
}

/* 탭 구분선 */
.divider {
  width: 2px;
  height: 50px;
  background: rgba(255, 255, 255, 0.35);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
