.layout {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fffbf2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 50px;
}

.content {
  flex: 1;
  padding: 0 190px;
  overflow-y: auto;
  margin-bottom: 60px;
}

.content::-webkit-scrollbar {
  width: 20px;
}

.content::-webkit-scrollbar-track {
  background: #e8e0d2;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #c2b59b;
  border-radius: 10px;
  border: 2px solid #e8e0d2;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #a8977a;
}
