.wrapper {
  width: 100%;
  height: 70vh;
  background: #fffbf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 100px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.4;
}

.subMessage {
  font-size: 100px;
  color: #9ca3af;
  margin-top: -10px;
  margin-bottom: 40px;
  text-align: center;
}
